.modale3 {
    position: absolute;
    /* reste en place */
    z-index: 2;
    /* au dessus du reste */
    width: 80vw;
    /* largeur */
    height: 42vw;
    /* hauteur */
    /* barre de scroll si besoin */
    background-color: #9b9b9bd7;
    /* opaque */
    border: solid;
    top: 11%;
    /* a 10% du haut */
    left: 50%;
    overflow: scroll;
}

.laCroix {
    position: absolute;
    top: 0;
    right: 0;
    height: 3vw;
    width: 3vw;
}

.angeimage {
    width: 30vw;
    height: 30vw;
    border-radius: 5%;
    margin-top: 1vw;
    top: -5%;
    right: 5%;
    position: relative;
}

.title1 {
    color: #b95757;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    position: relative;
    right: -30%;
}

.reset {
    border-radius: 10%;
    position: absolute;
    width: 16vw;
    height: 6vw;
    right: 5%;
    top: 42%;
    font-size: 1.8em;
    background-color: rgb(132, 26, 194);
    color: black;
    font-family: 'Roboto', sans-serif;
}

.reset:disabled {
    border-radius: 10%;
    position: absolute;
    width: 16vw;
    height: 6vw;
    right: 5%;
    font-size: 1.8em;
    top: 42%;
    background-color: #fa8729;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.nbAngesActifs {
    position: absolute;
    font-size: 1.8em;
    font-family: 'Roboto', sans-serif;
    top: 23vw;
    left: 33%;
    color: black;
}

.nbAngesrecoltes {
    position: absolute;
    font-size: 1.8em;
    top: 15vw;
    font-family: 'Roboto', sans-serif;
    right: 33%;
    color: black;
}