.round {
    width: 100px;
    height: 100px;
    border-radius: 50%
}

.lesdeux {
    position: relative;
}

.lesecond {
    position: absolute;
    bottom: -10px;
}

.temps {
    border: solid;
    width: 50px;
}

.ligne {
    display: flex;
    align-items: center;
    justify-content: space-between;
}